@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4rem;
  //font-family: Roboto Slab;
  //text-transform: uppercase;

  @include respond-to('medium') {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;

  @include respond-to('medium') {
    font-size: 1.5rem;
  }
}

a {
  color: $primary-color;

  &:hover {
    color: $primary-color;
  }
}

p, a {
  font-size: 1rem;
}

p {
  max-width: 75ch;
  line-height: 1.5em;
}

main {
  color: $font-color;
}

.centered {
  text-align: center;
  width: 100%;

  p {
    margin: auto;
  }
}