@import 'abstracts/variables';

//@import 'vendors/fontello';
@import 'vendors/hamburgers/hamburgers';
//@import 'vendors/sal';

@import 'base/base';
@import 'base/typography';

@import 'layout/footer';
@import 'layout/header';
@import 'layout/main';

@import 'components/buttons';
@import 'components/cards';

@import 'pages/home';
@import 'pages/booking';
@import 'pages/page';
@import 'pages/gallery';


* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  //overflow-x: hidden;
}

.section-heading {
  text-align: center;
  //font-size: 2rem;
}



.centered {
  text-align: center;
  margin: auto;
}

// MAIN

// HERO SECTION



// GRID SECTION

.grid {
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
  grid-template-columns: 1fr 1fr;
  grid-template-rows: autop;
  gap: 0;

  .grid-item {
    height: 540px;
  }

  article {
    padding-top: 4em;
    padding-bottom: 4em;
    box-sizing: border-box;
    color: $font-color;

    &:nth-of-type(odd) {
      padding-right: 4em;
      padding-left: calc((100vw - #{$content-width}) / 2);
    }

    &:nth-of-type(even) {
      padding-right: $page-margin;
      padding-left: 4em;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      width: 45ch;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    .price-area {
      p {
        font-size: 1.25rem;
      }

      .price {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .button {
      margin-top: 2rem;
    }
  }

  div {
    //background-color: green;
    width: 100%;
    overflow: hidden;

    img {
      min-width: 100%;
      height: 100%;
      //object-fit: cover;
    }
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

#boka {
  article {
    margin: auto;

    p {
      //margin-bottom: 1em;
      //max-width: 75ch;
      text-align: center;
      margin: auto;
      margin-bottom: 1em;
    }
  }
}



/*.divider {
  width: 100%;
  height: 33vh;
  //position: relative;
  overflow: hidden;
  z-index: -1;

  background-image: url("../images/DSC_7773.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}*/